---
resources:
  - backup_pvc.yaml
  - namespace.yaml
  - rabbitmq.yaml
  - backup_cronjob.yaml
  - postgresql.yaml

namespace: development

commonLabels:
  env: development

secretGenerator:
  - name: rabbitmq-secrets
    env: rabbitmq-secrets.env

  - name: postgresql-secrets
    env: postgresql-secrets.env

configMapGenerator:

  - name: postgresql-init-db-configmap
    files:
      - bin/init_db.sh

  - name: backup-cronjob-configmap
    files:
      - bin/backup_db.sh